@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
    text-align: center;
}

/*.parent-box {*/
/*    text-align: center;*/
/*}*/

.box {
    /*display: inline-block;*/
    background: gray;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.parent-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    height: 250px;
    background: #000;
    flex-wrap: wrap;
}

.parent-flex>.item {
    width: 100px;
    height: 100px;
    background: aqua;
}

.paragraph {
    font-size: 20px;
    color: #656565;
    font-family: 'Roboto', 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 28px;
    /*text-align: center;*/
}

.paragraph-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.background {
    width: 200px;
    height: 200px;
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid gray;
}

.padding {
    background: red;
    padding: 10px 5px 15px 10px;
    margin: 20px 10px;
}

.button {
    display: inline-block;
    background: #565656;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
}

.button:hover {
    background: #444;
}

.button:active {
    background: #000;
    position: relative;
    top: 1px;
    left: 1px;
}

.email:invalid {
    background: red;
}

.email:valid {
    background: green;
}

.pseudo {
    width: 100px;
    height: 100px;
    background: #000;
    position: relative;
}

.pseudo::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background: black;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotate(45deg);
}

.pseudotext {
    color: green;
}

.pseudotext::placeholder {
    color: blue;
    font-size: 5px;
}

.positionparent {
    width: 200px;
    height: 200px;
    background: gray;
    position: relative;
}

.positionparent:hover .position {
    visibility: visible;
}

.position {
    width: 100px;
    height: 100px;
    background: thistle;
    position: absolute;
    top: 10px;
    right: -100px;
    visibility: hidden;
}

